
@{
    ViewBag.Title = "Quản lý nhà cung cấp";
}

<div class="box box-primary">
    <div class="box-body">
        @*Form de tim kiem*@
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="searchValue" autofocus>
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i> Tim kiem
                    </button>
                    <a href="~/Supplier/Create" class="btn btn-primary" style="margin-left: 4px">
                        <i class="fa fa-plus"></i>  Bo sung
                    </a>
                </div>
            </div>
        </form>

        @*Ket qua tiem kiem*@
        <p style="margin-top: 10px; margin-bottom: 10px;">
            có <strong>1,657</strong> nhà cung cấp trong <strong>100</strong> trang
        </p>

        @*bảng kết quả tìm kiếm*@
        <div>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Tên nhà cung cấp</th>
                        <th>Tên giao dich</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Quốc gia</th>
                        <th>Thành Phố</th>
                        <th>Mã bưu chính</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @for (int i = 1; i <= 5; i++)
                    {
                        <tr>
                            <td>Công ty TNHH Nhật Bình</td>
                            <td>Nhật Bình Ltd</td>
                            <td>77 Nguyễn Huệ</td>
                            <td>0234.567890</td>
                            <td>Việt Nam</td>
                            <td>Thành Phố huế</td>
                            <td>0234</td>
                            <td class="text-right">
                                <a href="~/Supplier/Edit" class="btn btn-xs btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Supplier/Delete" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <ul class="pagination">
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled"><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </div>
    </div>
</div>

